/*
Original design: Variant Pure (v1.0 - Nov 10, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-pure/
*/

/* General layout */
body {margin:0; padding:20px 0; font: 84% Tahoma,Verdana,sans-serif; background-color: #eee; color: #222;}
#container {width: 960px; margin: 0 auto; padding: 0; background-color: #fff; color: #222;}

/* Tags */
h1,h2,h3,h4 {font-family: Georgia,Times New Roman,serif; font-weight: 400;}
h1 {font-size: 3.2em;}
h2 {margin: 0 0 5px 0; font-size: 1.6em;}
h3 {margin: 20px 0 10px 0; font-size: 1.4em;}
h4 {margin: 10px 0 5px 0; font-size: 1.2em;}
a {text-decoration: none; color: #7f0099;}
a:hover {text-decoration: underline;}
a img {border: 0;}
p {margin: 0 0 15px 0; line-height: 1.4em;}

/* Site title */
#title {width: 700px; margin: 0 0 20px 0; padding: 20px 0 10px 0; background: #eee;text-align: center; color: #333;}
#title h1 {margin: 0 0 10px 0; padding: 0; text-align: center; letter-spacing: -1px; line-height: 1.1em;}
#title h2 {text-align: center; margin: 0; padding: 0; font-size: 1.6em; line-height: 1.1em;}
#title a {color: #7f0099; text-decoration: none;}
#title a:hover {color: #222;}

/* Introtext */
#introtext {font-family: Georgia,Times New Roman,serif; font-size: 1.2em; color: #555; margin: 40px 40px; text-align: center;}

/* Main content */
#main {float: right; width: 700px; margin: 20px 20px 10px 20px; padding: 0; line-height: 1.3em;}
#main h2 {clear: left; margin: 0 0 10px 0; padding: 10px 0 10px 10px; background-color: #eee; color: #555; text-decoration: none;}

/* Sidebar */
#sidebar {width: 200px; float: left; margin: 20px 0 20px 20px; font-size: 1em; line-height: 1.3em;}
#sidebar p, #sidebar ul, #sidebar ol {margin: 0 0 15px 0; padding: 0;}
#sidebar p.block {background-color: #eee; font-size: 0.9em; line-height: 1.3em; margin: 10px auto 20px auto; padding: 10px; color: #555;}
#sidebar ul li, #sidebar ol li {list-style: none; padding:0; margin: 0 0 5px 0; padding: 0;}
#sidebar ul.avmenu li a {display: block; width: 190px; margin: 0 0 5px 0; padding: 10px 0 10px 10px; font-size: 1.3em; font-weight: 400; text-align: left; background-color: #eee; color: #7f0099;}
#sidebar ul.avmenu li a:hover {background-color: #f4f4f4; color: #222; text-decoration: none;}
#sidebar ul.avmenu li a.current {color: #222;}

/* Footer */
#footer {clear: both; margin: 10px 0 0; padding: 20px; line-height: 1.6em; width: 960px; color: #777; text-align: left;}
#footer p {margin: 0;}

/* Additional classes */
.post {margin-bottom: 20px;}
.meta {text-align: right; font-size: 0.9em; color: #555; border-top: 1px solid #eee; padding: 5px 10px;}
.clear {clear: both; margin: 0; padding: 0;}
.right {text-align: right;}
.hide {display: none;}

/* Reversed style */
#reversed #main {float: left;}
#reversed #sidebar {float: right; margin: 20px 20px 20px 0;}

/* Alternate style */
#alternate #container {width: 760px; padding-top: 20px;}
#alternate #title {width: 720px;}
#alternate #main {clear: both; width: 720px; margin-top: 0; float: none;}
#alternate p {font-size: 1.1em;}
#alternate ul.avmenu {list-style: none; width: 720px; margin: 0; padding: 0;}
#alternate ul.avmenu li {display: inline;}
#alternate ul.avmenu li a {display: block; width: 180px; float: left; margin: 0 20px 20px 0; padding: 20px 10px; font-size: 1.3em; font-weight: 400; text-align: center; background-color: #eee; color: #7f0099;}
#alternate ul.avmenu li a:hover {background-color: #f4f4f4; color: #222; text-decoration: none;}
#alternate ul.avmenu li a.current {color: #222;}
#alternate #introtext {clear: both; margin: 40px 20px;}
#alternate #sidebar {clear: both; width: 720px; margin: 20px 0 0 20px;}
#alternate #sidebar ul {font-size: 1.1em;}
#alternate #sidebar ul li {margin-bottom: 20px;}
#alternate #sidebar ul a {padding: 5px; background-color: #eee;}
#alternate #footer {width: 720px; margin: 20px 0 0 20px; padding: 20px 0;}
#alternate #footer p {margin: 0; text-align: center;}